#cls_setting_page a[href] {
    color: #666;
}
#cls_setting_page a[href]:focus {
    outline: 0;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.cls-green {
    -moz-box-shadow: -3px 0 0 0 green;
    -webkit-box-shadow: -3px 0 0 0 green;
    box-shadow: -3px 0 0 0 green;
}
.cls-tabs {
    margin:0;
    padding: 5px 0;
}
.cls-tabs li {
    padding: 5px 0;
    margin:0;
    border: 0;
    background-color: #f0f0f0;
    border: 1px rgba(0,0,0,0.1) solid;
}
.cls-tabs .ui-state-active {
    background-color: #fff;
    border-bottom-color: #fff;
    padding-bottom: 6px;
    -moz-box-shadow: 0 -3px 0 0 green;
    -webkit-box-shadow: 0 -3px 0 0 green;
    box-shadow: 0 -3px 0 0 green;
}
.cls-tabs a {
    text-decoration: none;
    color: #777;
    font-size: 16px;
    padding: 5px 15px;
}
.cls-tab-content {
    padding: 15px;
    border: 1px #ddd solid;
    background: #fff;
}
.cls .bf-title {
    font-size: 16px;
    color: #666;
}
.cls .bf-sub, .cls-setting-box .bf-sub {
    color: #666;
    display: block;
    margin: 5px 0;
    font-size: 14px;
    font-style: italic;
}
.bf-cls_settingscontroller li,
.bf-cls_settingsselected li {
    display: inline-block;
    margin-right: 15px;
}
.bf-cls_settingsapps li {
    -moz-box-shadow: 0 8px 8px -8px #000;
    -webkit-box-shadow: 0 8px 8px -8px #000;
    box-shadow: 0 8px 8px -8px #000;
    padding: 15px;
    margin: 5px 15px 15px 0;
}
.cls-right {
    text-align: right;
}
.cls-inner-tabs {
    margin-left: -15px;
}
.cls-inner-tabs a {
    text-decoration: none;
    padding: 10px 15px;
    font-size: 14px;
}
.cls-inner-tabs li {
    position: relative;
    margin:0;
    padding: 10px 15px;
    border-bottom: 1px #fff solid;
    background-color: #ddd;
}
.cls-inner-tabs .ui-state-active {
    background-color: #fff;
    font-size: 16px;
    font-weight: bold;
    color: #333;
    margin-left: 3px;
    -moz-box-shadow: -3px 0 0 0 green;
    -webkit-box-shadow: -3px 0 0 0 green;
    box-shadow: -3px 0 0 0 green;
}
.cls-inner-tabs .cls-icon {
    color: red;
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
}
.cls-inner-tabs .ui-state-active .cls-icon {
    display: block;
}
.cls-inner-tabs .cls-icon {
    display: none;
}
.cls-wrapper {
    margin: 0 15px;
    background: #eee;
}
.closed .cls-sidebars,
.closed .cls-wrapper {
    display: none;
}
.cls-box {
    padding: 5px 0;
}
.cls-sep {
    margin: 0 5px;
}
.cls-box .bf-div {
    position: relative;
    display: inline;
}
.cls-adder {
    cursor: pointer;
}
.cls-remove {
    color: red;
    cursor: pointer;
}
.cls-box {
    position: relative;
    margin: 7.5px;
}
.cls-title {
    position: relative;
    margin:0;
}
.cls-dashboard {
    margin-bottom: 15px;
}
.wp-core-ui .cls-dashboard .cls-title,
.cls-widgets .cls-title,
.cls-sidebars .cls-title {
    background-position: 10px center;
    border: 1px #eee solid;
    background-color: #fafafa;
}
.wp-core-ui .cls-dashboard .cls-box {
    display: none;
}
.cls-wrapper .cls-icon-right,
.cls-widgets .cls-icon-right,
.cls-sidebars .cls-icon-right {
    position: absolute;
    right: 5px;
    font-size: 16px;
    text-indent: 0;
    color: #666;
    top: 5px;
    cursor: pointer;
}
.cls-icon-loading {
    float: right;
    width: 30px;
    height: 30px;
    margin-right: 15px;
    display: none;
    background: url(imgs/loading.gif) no-repeat center center;
}
.cls-title .cls-icon-loading {
    float: left;
}
.cls-dashboard .cls-box,
.cls-widgets .cls-box,
.cls-sidebars .cls-box {
    margin:0;
    padding: 5px 15px;
    border: 1px #f0f0f0 solid;
    border-top: 0;
    
}
.cls-setting-inside {
    position: relative;
    z-index: 8;
    padding: 15px;
    border: 1px #ddd solid;
    background: #fff;
    display: none;
}
.cls-setting-box .input-num {
    width: 50px;
    text-align: center;
}
.cls-setting-box .show-settings {
    position: relative;
    z-index: 9;
    float: right;
    border: 1px #ddd solid;
    border-top: 2px #fff solid;
    margin-top: -1px;
    cursor: pointer;
    padding: 5px 15px 5px 20px;
    color: #666;
    background: #fff url(imgs/logo.png) no-repeat 5px center;
    background-size: auto 90%;
    text-indent: 40px;
}
.cls-setting-box .bf-div {
    margin: 15px;
}
.cls-box .bf-div ul,
.cls-box .bf-div li,
.cls-setting-inside .bf-div li {
    display: inline;
}
.cls-setting-inside .bf-div ul {
    margin-left: 15px;
}
.cls-widgets,
.cls-sidebars {
    margin: 15px 0;
}
.cls-widgets .cls-title,
.cls-sidebars .cls-title {
    margin:0;
    padding: 10px 15px;
    font-size: 12px;
}

.cls-user-icon {
    display: inline-block;
    width: 50px;
    height: 30px;
    background: url(imgs/logo.png) no-repeat;
    background-size: contain;
}
.cls-wrapper select {
    cursor: pointer;
}
.cls-widgets select,
.cls-sidebars select {
    margin-bottom: 15px;
    max-width: 100%;
}
.cls-wrapper optgroup,
.cls-wrapper option {
    padding: 4px 10px;
    border-top: 1px #ddd solid;
}
.cls-wrapper optgroup {
    padding: 10px;
}
.pull-right {
    float: right;
}
.cls-faq-box {
    margin-left: 20px;
}
.cls-faq-box h3 {
    margin: 0;
}
.cls-faq-box p {
    margin-left: 15px;
}
.wp-core-ui .cls-desc {
    padding: 15px;
    font-size: 16px;
    display: none;
}
#cls_setting_page .cls-faq-box a[href] {
    color: #004E98;
}
.cls-info-box {
    max-width: 250px;
}
/* Test */
.wp-core-ui .cls-ui-icon {
    position: absolute;
    right:0;
    top: 40px;
    border: 3px green solid;
    border-width: 0 0 0 3px;
    width: 40px;
    height: 30px;
    background: rgba(0, 0, 0, 0.1) url(imgs/logo.png) no-repeat center center;
    background-size: 90% 70%;
    cursor: pointer;
}
.wp-core-ui .cls-ui-icon-open {
    width: 100%;
    z-index: 99;
    background: #fff;
}
.wp-core-ui .cls-field-box {
    position: relative;
    border: 1px #ddd solid;
    margin: -20px 0 0 0;
    padding: 15px 10px;
    border-left: 3px green solid;
}
.wp-core-ui .bf-half {
    position: relative;
    float: left;
    width: 50%;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.wp-core-ui .cls-field-box select {
   width: 80%;
}
.wp-core-ui .cls-field-box .cls-box {
    margin: 0;
    padding: 0;
    border: 0;
}
.wp-core-ui .cls-widget-area {
    margin: 0;
    border: 0;
    background: #eee;
}
.wp-core-ui .cls-widget-area .cls-adder,
.wp-core-ui .cls-widget-area .cls-remove {
    position: absolute;
    right: -20px;
    top: -10px;
}
.wp-core-ui .cls-field-box .description {
    font-size: 16px;
}

@media screen and (min-width: 768px){
    .cls-right {
        float: right;
    }
    .cls-tabs li {
        display: inline;
    }
    .cls .bf-div {
        margin: 5px 15px;
    }
    .cls-inner-tabs {
        float: left;
        margin-right: 20px;
        width: 200px;
    }
    .cls-inner-tab {
        margin-left: 200px;
    }
    .cls-inner-tab .bf-title {
        display: block;
        font-weight: bold;
        margin-left: -15px;
    }
    .cls-inner-tab .bf-div {
        display: inline-block;
        vertical-align: top;
        width: 45%;
    }
    .bf-cls_settingsapps li {
        width: 40%;
        display: inline-block;
    }
}